<!-- Dans cette zone du design nous allons ajouter des petits blocs == widget
         Bloc qui donne des informations sur le site
         Le premier widget = les derniers articles du site
    -->
     <!--.row>.col-12>(h2>lorem2)+ul>li*5>lorem4-->
     <!--Creer un nouveau composant
      ng  g c sidebar/last-article
    -->
<div class="row mt-2">
    <div class="col-12">
      <div class="card">
      <h2 class="h5">Lorem, ipsum.</h2>
      <ul class="list-unstyled text-danger">
        <li>Lorem ipsum dolor sit.</li>
        <li>Excepturi laudantium rerum debitis.</li>
        <li>Veniam, quae eaque! Laudantium!</li>
        <li>Possimus tempore eius fugiat.</li>
        <li>Perspiciatis, aut dolor. Nam.</li>
      </ul>
    </div>
    </div>
  </div>