<div class="container">
    <!--barre menu-->
    <app-menu></app-menu>
    <!--coeur de la page-->
    <!--.row>(div.col-10>lorem)+div.col-2>lorem-->
    <div class="row">
      <div class="col-8">
        <app-une></app-une>
        <app-grille></app-grille>
        </div>
      <div class="col-4">
        <app-last-article></app-last-article>
        <app-map></app-map>
        <app-newsletter></app-newsletter> 
      </div>
    </div>
    <div class="py-4 text-center">
      2020  -  Christophe
    </div>
      <!--pied de page-->
      <!--
        Creer une zone de footer dans laquelle vous allez voir le texte suivant :
        2020 - Alain (ce texte doit etre centre)
      -->
</div>